@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica Neue Thin';
  src: url('/ClimaCheck/img/HelveticaNeueThin.otf') format('otf');
  font-style: normal;
}